<h2>GROUPS SHOW PAGE</h2>


<h3>All users for the <%= @group.name %> group</h3>


<% @users.each do |user| %>
  <% if user.group_name == @group.name  %>
    <li><%= user.first_name %> <%= user.last_name %> <%= user.role %></li>
  <% end %>
<% end %>

<h3>Other actions for the <%= @group.name %> group</h3>
<p><%= link_to "Edit/Update the name of the group", edit_group_path %></p>
<p><%= link_to "Remove/Delete the Group", group_path, method: :delete, data: { confirm: "Are you sure?" } %></p>
