<html>
  <h2>WELCOME INDEX</h2>
  <h3>MEETUP APP</h3>
  <p>Choose Your CSV FILE</p>
  <p>It must use the following format.</p>
  <p>First Name, Last Name, Group Name, Role in Group</p>

  <%= form_for @user do |f| %>
    <%= f.file_field :users_test %>
    <%= f.submit "Add User/s to Database" %>
  <% end %>

  <h3>List of Current Groups with the Organizer(s) for each Group</h3>
  <h4>Click on Group to display its Users and their Roles</h4>

<table>
  <tr>
    <th>Group</th>
    <th>Organizer</th>
  </tr>

<% @groups.each do |group, user| %>
  <tr>
<!-- create a method in model to call instead to clean this up -->
    <%# binding.pry %>
    <% if group.users.find_by(:role =>"Organizer") != nil %>
    <td><%= link_to group.name, group %></td>
    <td><%= group.users.find_by(:group_name => group.name)[:first_name] %> <%= group.users.find_by(:group_name => group.name)[:last_name] %></td>
    <% else %>
    <td></td>
    <% end %>

  </tr>
<% end %>
</table>

<br>


</html>
